.content {
  margin-left: 275px;
  max-width: 980px;
  display: block;
}

/* @media screen and (max-width: 1279px) {
  .content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    max-width: 320px;
  }
} */
